//COLORS
$main: #2196f3;
$bg-primary: white;
$bg-secondary: #f3f7fa;
$text-primary: #4a4a4a;
$text-secondary: #a0b0b9;
$checkbox-shadow: rgba(0, 0, 0, 0.1);
$card-shadow: rgba(0, 0, 0, 0.1);
$checkbox: #9abbce;

//RESOLUTION
$tablet: 768px;
$mobile: 478px;
